# Ignore Visual Studio Code folder
.vscode/

# Ignore Python compiled files and __pycache__ directories
__pycache__/
*.pyc

# Ignore specific folders within the torm directory
storm/ckpt
storm/runs
storm/eval_result

# Ignore specific files within the stable_baselines directory
*_tensorboard
*.zip